@font-face {
	font-family: caps;
	src: url(/fonts/BebasKai-Regular.otf);
}

@font-face {
	font-family: fancy;
	src: url(/fonts/Luna.ttf);
}

@font-face {
	font-family: tagline;
	src: url(/fonts/MondayMorning.ttf);
}

html.home {
	height:100%;
	background: url(/images/bgImage.gif) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
} 

html.other {
	height:100%;
	background: url(/images/dark_wall.png);
}

body {
  	font-family: Century Gothic, sans-serif;
  	margin:0 auto;
  	font-weight: 400;
  	line-height: 1.5;
  	height:100%;
  	color: white;
  	font-size: 18px;
}

h1, h2, h3, h4 {
  margin: 0 0 .5em 0;
  font-weight: inherit;
  line-height: 1.2;
  text-align:center;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
  font-family:caps;
}

h2 {
	font-size: 1.728em;
  	font-family:caps;
}

h3 {font-size: 1.35em;
}

h4 {font-size: 1.2em;
}

.container {
	padding-top:8em;
	max-width: 100%; /* max-width will scale to the browser, while just `width` will always be the value */
	margin: 0 auto; /* or margin: 0 auto; -- both will center a block element on a page or in a container */
}

/* ------ Homepage ----- */

.site-tag {
   -webkit-text-fill-color: #8A712E; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
	font-family:fancy;
	color: #8A712E;
	margin-top:7em;
	margin-bottom:6em;
}

@media(max-width:510px){
	.site-tag {
		font-size:1.5em;
	}
}

.promo-box {
	width:100%;
	height:200px;
	background: url(/images/dark_wall.png);
}


/* ----- Members ----- */

.member-holder {
	width:85%;
	margin:0 auto 3em auto;
	text-align:center;
}

.member {
	display: inline-block;
	margin: 0 auto;
}

.member-img {
	max-width: 300px;
	border: 1px solid #8A712E;
	border-radius:5px;
}

.twitter-handle {
	color:#8A712E;
}

.text-container {
	width:50%;
	margin:1em auto;
	text-indent:1em;
}

@media(max-width:800px){
	.text-container{
		width:75%;
	}
}

@media(max-width:450px){
	.text-container{
		width:85%;
	}
}


/* -----Music----- */
.albums {
	text-align:center;
	margin:0 auto;
	width:70%;
}

@media(max-width:450px){
	.albums {
		width:100%;
	}
	.album-holder {
		padding:0;
	}
}

.album-holder {
	display:inline-block;
	padding:1em;
	max-width:300px;
}

.album-artwork {
	max-width:300px;
}

.album-player {
	display:none;
}

.play-link, .close-link {
	cursor:pointer;
}

.play-link:hover {
	opacity:.7;
}

.play-button{
	max-width:75px;
}


.tiny-x {
	max-width: 15px;
}

.close-link {
	display:none;
}

/* -----Header / Navigation ----- */

.site-logo {
	padding:.75em;
	float:left;
	margin-left: 1em;
	max-width:75px;
}

.site-logo:hover {
	opacity:.7;
}

.site-header {
	height:100px;
	width:100%;
	position:fixed;
}

.site-header:after {
  	content: "";
  	background: url(/images/dark_wall.png);
	opacity:.9;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
}

.no-opacity {
	opacity:1!important;
}

.navbar {
  	padding: .5em;
  	float:left;
  	margin-left: 3em;
}

@media(max-width:1100px){
	.navbar {
		display:none;
	}
}

.header-nav {
}

.header-nav li {
	display: inline-block;
	margin-bottom:.5em;
}

.nav-link {
	font-family:caps;
	color:white;
	font-size: 1em;
	padding:.5em 2em;
	text-decoration:none;
	letter-spacing:1px;
	display:block;
}

.nav-link.active {
	text-decoration:underline;
}

.nav-link:hover {
	color:#8A712E;
}


/* ---- Mobile Nav ---- */

.hamburger {
	display:none;
	float:right;
	max-width:60px;
	padding:1.5em;
	cursor:pointer;
}

.x {
	display:none;
	float:right;
	max-width:50px;
	padding:1.5em;
	cursor:pointer;
}

.x:hover {
	opacity:.7;
}

.hamburger:hover {
	opacity:.7;
}

@media (max-width:1100px){
	.hamburger {
		display:inline-block;
	}
}


.mobile-nav {
	display:none;
	list-style:none;
	right:0;
	clear:both;
	position:absolute;
	margin-top:5em;
	z-index:1000;
}

.mobile-nav-link {
	font-family:caps;
	font-size:1.25em;
	padding:.25em .5em;
	margin: .2em 0;
	color:white;
	background:url('/images/dark_wall.png');
	border: 1px solid #8A712E;
	text-decoration:none;
	display:block;
}

.mobile-nav-link:hover {
	opacity:.7;
}


/* -----COLUMNS----- */


.col-contain {
	text-align:center;
}

@media (min-width:750px){

.col {
	display:inline-block;
	width: 28%;
	padding:1em;
}
}

@media (max-width:750px){
.col {
	margin:2.5em auto;
	width:75%;
}
}

.content-columns {

}



.col-head {
	text-align:center;
	display:block;
	width:100%;
	padding:.25em 0;
	font-family:caps;
	border-bottom:2px solid #8A712E;
}

.col-box {
	position:relative;
	padding:2em 1em;
	height:325px;
	margin: auto 0;
}

.box-content {

}


@media (max-width: 900px) {
	.col-box {
		padding:0
	}
}

@media (max-width: 700px) {
	.col-box {
		height:300px;
	}
}


/* -----UTILITIES----- */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.clear-left {
	clear:left;
}
