@font-face {
	font-family: caps;
	src: url(/fonts/BebasKai-Regular.otf);
}

@font-face {
	font-family: fancy;
	src: url(/fonts/Luna.ttf);
}

html {
	height:100%;
} 

body {
	background-image: url(/images/bgImage.gif);
	background-size: 100%;
	background-attachment:fixed;
  	font-family: bodyText;
  	margin:0 auto;
  	font-weight: 400;
  	line-height: 1.5;
  	height:100%;
  	color: black;
  	font-size: 18px;
}

h1, h2, h3, h4 {
  margin: 0 0 .5em 0;
  font-weight: inherit;
  line-height: 1.2;
  text-align:center;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {
	font-size: 1.728em;
}

h3 {font-size: 1.35em;
}

h4 {font-size: 1.2em;
}


#wrap {
	min-height:100%;
}

#main {
	overflow:auto;
	padding bottom:180px;
	min-height:800px;
}

.container {
	max-width: 80%; /* max-width will scale to the browser, while just `width` will always be the value */
	margin: 0 auto; /* or margin: 0 auto; -- both will center a block element on a page or in a container */
}


@media (max-width:1050px){
	.container {
		transition: max-width .5s ease;
		max-width:90%;
		margin:none;
	}
}

@media (max-width:915px){
	.container {
		transition: max-width .5s ease;
		max-width:100%;
	}
}





.site-logo {
	padding:.75em;
	float:left;
	margin-left: 1em;
}


.site-tag {
	font-family:fancy;
	color: #8A712E;
	margin-top:5em;
}


/* -----NAVIGATION----- */

.site-header {
	background-color:rgba(0, 0, 0, .7);
	height:125px;
	width:100%;
	position:fixed;
}

.navbar {
  	padding: .5em;
  	float:left;
  	margin-left: 3em;
}

@media(max-width:1100px){
	.navbar {
		display:none;
	}
}

.header-nav {
}

.header-nav li {
	display: inline-block;
	margin-bottom:.5em;
}

.nav-link {
	font-family:caps;
	color:white;
	font-size: 1.3em;
	padding:.5em 1.5em;
	text-decoration:none;
	display:block;
}

.nav-link.active {
	text-decoration:underline;
}

.nav-link:hover {
	color:#8A712E;
}


/* ---- Mobile Nav ---- */

.hamburger {
	display:none;
	float:right;
	max-width:100px;
	padding:1em;
	cursor:pointer;
}

.x {
	display:none;
	float:right;
	max-width:95px;
	padding:1em;
	cursor:pointer;
}

@media (max-width:1100px){
	.hamburger {
		display:inline-block;
	}
}

@media (max-width:420px){
	.hamburger {
		max-width:85px;
		transition: max-width .5s ease;
		-webkit-transition: max-width .5s ease;
    	-moz-transition: max-width .5s ease;
    	-o-transition: max-width .5s ease;
    	transition: max-width .5s ease;
	}
	.x {
		max-width:80px;
		transition: max-width .5s ease;
		-webkit-transition: max-width .5s ease;
    	-moz-transition: max-width .5s ease;
    	-o-transition: max-width .5s ease;
    	transition: max-width .5s ease;
	}

}


.mobile-nav {
	display:none;
	list-style:none;
	right:0;
	clear:both;
	position:absolute;
	margin-top:5em;
	z-index:1000;
}

.mobile-nav-link {
	font-family:bodyBold;
	padding:.25em .5em;
	margin: .1em 0;
	color:black;
	text-decoration:none;
	display:block;
}

.mobile-nav-link:hover {
	background-color:rgba(255,255,255,.8);
}


/* -----COLUMNS----- */

@media (min-width:700px){

.col {
	float: left;
	max-width: 50%;
	padding:.4em;
}
}

.content-columns {

}

.col {
	min-height:100px;
}

.col-head {
	text-align:center;
}

.col-box {
	position:relative;
	padding:2em 1em;
	height:325px;
	margin: auto 0;
}

.box-content {
	position:relative;
	top:50%;
	transform:translateY(-50%);
}


@media (max-width: 900px) {
	.col-box {
		padding:0
	}
}

@media (max-width: 700px) {
	.col-box {
		height:300px;
	}
}


/* -----UTILITIES----- */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.clear-left {
	clear:left;
}
