<header class="cf">
<div class="site-header">
<a href="http://youngrichamerica.github.io" class="site-title">
	<img src="/images/YRAlogo.gif" class="site-logo">
</a>
<nav class="navbar">
    <ul class="header-nav">
        <li><a class="nav-link{% if page.title == "Home" %} active{% endif %}" href="http://youngrichamerica.github.io">Home</a></li>
        <li><a class="nav-link{% if page.title == "Members" %} active{% endif %}" href="{{site.url}}/members">Members</a></li>
        <li><a class="nav-link{% if page.title == "Music" %} active{% endif %}" href="{{site.url}}/music">Music</a></li>
        <li><a class="nav-link{% if page.title == "Shows" %} active{% endif %}" href="{{site.url}}/shows">Shows</a></li>
        <li><a class="nav-link{% if page.title == "Merch" %} active{% endif %}" href="{{site.url}}/merch">Merch</a></li>
        <li><a class="nav-link{% if page.title == "Photos" %} active{% endif %}" href="{{site.url}}/photos">Photos</a></li>
    </ul>
</nav>
<div class="social-box">
<a href="https://www.facebook.com/YoungRichAmerica" target="_blank"><img class="social-icon" src="/images/facebook32.png"></a>
<a href="https://twitter.com/officialyra" target="_blank"><img class="social-icon" src="/images/twitter32.png"></a>
<a href="https://instagram.com/official_yra/" target="_blank"><img class="social-icon" src="/images/instagram32.png"></a>
<a href="https://soundcloud.com/youngrichamerica" target="_blank"><img class="social-icon" src="/images/soundcloud32.png"></a>
</div>
<img class="hamburger" src="/images/hamburger.png">
<img class="x" src="/images/x.png">
	<ul class="mobile-nav">
                <li><a class="mobile-nav-link{% if page.title == "Home" %} active{% endif %}" href="http://youngrichamerica.github.io/">Home</a></li>
                <li><a class="mobile-nav-link blue{% if page.title == "Members" %} active{% endif %}" href="{{site.url}}/members">Members</a></li>
                <li><a class="mobile-nav-link{% if page.title == "Music" %} active{% endif %}" href="{{site.url}}/music">Music</a></li>
                <li><a class="mobile-nav-link{% if page.title == "Shows" %} active{% endif %}" href="{{site.url}}/shows">Shows</a></li>
                <li><a class="mobile-nav-link{% if page.title == "Merch" %} active{% endif %}" href="{{site.url}}/merch">Merch</a></li>
                <li><a class="mobile-nav-link{% if page.title == "Photos" %} active{% endif %}" href="{{site.url}}/photos">Photos</a></li>
            </ul>
</div>
</header>